<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TI API</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" type="image/x-icon" href="assets/tasks.png">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <img src="assets/tasks.png" alt="" class="logo-image">
            <span class="logo-text">Task-Item API</span>
        </div>
        <nav class="menu">
            <a href="#" class="menu-item">Docs</a>
            <a href="#" class="menu-item">Contact Us</a>
        </nav>
    </header>

    <section class="intro-section">
        <img src="assets/intro-image.png" alt="" class="intro-image">
        <div class="description">
            <h3 class="title">Getting Started With Task-Item API</h3>
            <p class="text">Let's build your application with out API for creating, storing, deleting, updating tasks.</p>
            <a href="#" class="button">Get Started</a>
        </div>
    </section>

    <section class="features-section">
        <h1 class="features-header">Why choose us?</h1>
        <div class="cards">
            <div class="card">
                <img src="assets/shield.png" alt="" class="card-image">
                <h3 class="card-title">Reliabile and Secure</h3>
                <p class="card-text">Our API was built really stable and it is guaranteed from collapsin or ceasing serve</p>
            </div>
            <div class="card">
                <img src="assets/http.png" alt="" class="card-image">
                <h3 class="card-title">Full support of REST API</h3>
                <p class="card-text">Our API is totally REST, supporing <span class="green">GET</span>, <span class="orange">POST</span>, <span class="yellow">PUT</span>, <span class="red">DELETE</span> http methods</p>
            </div>
            <div class="card">
                <img src="assets/online-learning.png" alt="" class="card-image">
                <h3 class="card-title">Easy to Learn</h3>
                <p class="card-text">You can easily learn our API </p>
            </div>
        </div>
    </section>
</body>
</html>